

  <!-- NAVBAR  -->

 
    <!-- HERO MAIN SECTION -->
  <section class="hero-section">
    <div class="container mx-auto flex items-center justify-between px-10">
      <div class="w-1/2 px-2">
        <h6><em>Wanna Try ? Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus aliquam odit ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quae nesciunt alias?</em></h6>
        <h2  class  ="my-5" style="font-size: 2.8rem; letter-spacing: 1px;">Get Now </h2>
        <button class=" order-btn px-6 py-2 text-white  "> Order Now</button>
  
      </div>
      <div class="section-hero-img w-1/2">
        <img src="/img/thero.png" alt="">
      </div>
    </div>
  </section>

  <!-- STORE ITEMS SECTION -->
  <section class="store container mx-auto py-8 px-5 " >
    <h1 style="font-size: 2.8rem;">All SneaKers</h1>
    <div class="grid grid-cols-4 col-gap-12 row-gap-16">
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-between my-4">
          <span class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-around my-4">
          <span style="margin-right: 5px;" class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-between my-4">
          <span class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-between my-4">
          <span class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-between my-4">
          <span class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-between my-4">
          <span class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-between my-4">
          <span class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>
    <div class="store-item flex flex-col items-center " >
      <div>
        <img class="h-30  mb-3 mx-auto" src="/img/t-logo.png" alt="">
      </div>
      <div>
        <h2 class="mb-3 text-lg">Jordan | Dior</h2>
        <span class=" min-title rounded full py-1 px-4 uppercase text-xs">Medium Size</span>
        <div class=" flex items-center justify-between my-4">
          <span class="text-large font-bold">₹ 1999 </span>
          <button class="add-to-cart rounded full py-1 px-4 flex items-center font-bold">

            <span>+</span>
            <span>Add</span>

          </button>
        </div>
      </div>
    </div>

  </div>
  </section>


