<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
   <script src="https://cdn-tailwindcss.vercel.app/"></script>
<link rel="stylesheet" href="/css/app.css">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Licorice&family=Merriweather:wght@900&family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
</head>
<body>


  <!-- NAVBAR  -->

  <nav class="container mx-auto flex items-center justify-between py-4 px-10">
    <div>
      <img src="/img/t-logo.png" alt="logo">
    </div>
    <div>
      <ul class="flex items-center">
        <li class="ml-6"><a href="/">Menu</a></li>
        <li class="ml-6"><a href="#">Offers</a></li>
        <li class="ml-6"><a href="/register">Register</a></li>
        <li class="ml-6"><a href="/login">Login</a></li>
        <li class="ml-6"><a href="/cart" class="inline-block px-4 py-2 rounded full" ><i class="fab fa-opencart"></i></a></li>
    </div>
  </nav>
  <%- body %> 

  <script src="/js/app.js"></script>
</body>
<script src="https://kit.fontawesome.com/814c1659c6.js" crossorigin="anonymous"></script>
</html>