* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  background: #FE5F1E;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
  letter-spacing: 1.3px;
  font-weight: 600;
}
.btn-primary:hover {
  background: #b23301;
}

input {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  color: #232323;
  box-sizing: border-box;
}

nav li:last-child a {
  color: white;
  font: 400;
  font-size: 22px;
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #b23301;
  color: white;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

.section {
  background: #F8F8F8;
}

nav img {
  margin-left: 20px;
  width: 7rem;
  height: 7rem;
  position: absolute;
  cursor: pointer;
  top: -14px;
  left: 20px;
}

.order-btn {
  background: #FE5F1E;
  color: #fff;
  border: none;
  border-radius: 20px;
  letter-spacing: 1.3px;
  outline: none;
  font-weight: 600;
}
.order-btn:hover {
  background: #b23301;
}

.hero-section {
  background: #F8F8F8;
  height: 90vh;
  margin-top: 10px;
}

.min-title {
  background: #F8F8F8;
}

.section-hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.section-hero-img img {
  height: 60%;
  width: 60%;
  font-weight: bold;
}

.add-to-cart {
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
  border: 1px solid #FE5F1E;
}
.add-to-cart:hover {
  background: #b23301;
  border-color: #fff;
  color: #fff;
}

.store-item {
  box-shadow: 0 1px 2px 0 rgba(48, 48, 48, 0.3), 0 1px 3px 1px rgba(48, 48, 48, 0.15);
  background: white;
  border-radius: 4px;
}

.cart {
  background: #F8F8F8;
  padding: 20px;
  height: 100vh;
}

hr {
  color: #bfbfbf;
}

.login, .register {
  background: #F8F8F8;
  height: calc(100vh - 85px);
}
.login a, .register a {
  color: #FE5F1E;
}
.login a:hover, .register a:hover {
  color: #b23301;
}

.cart-color, .amount {
  color: #FE5F1E;
}
