<section class="cart ">
  <div class="container mx-auto w-3/5">
    <div class="flex border-b items-center py-5 border-gray-500">
      <i class=" cart-color fab fa-opencart text-2xl"></i>
      <h1 class="font-bold text-lg ml-5">Order Summary</h1>
    </div>
    <div class=" pizza-list  my-3">
      <div class="flex items-center">
        <img class="w-24" src="/img/thero.png" alt="" />
        <div class="flex-1 ml-4 flex  flex-col">
          <span class="font-bold text-lg">DIOR</span>
          <span class="text-xs">MEDIUM</span>  
        </div>

        <span class="flex-1">1pcs</span>

        <span class="font-bold text-lg">Rs.1999</span>
      </div>
    </div>
  
    <div class=" pizza-list  my-3">
      <div class="flex items-center">
        <img class="w-24" src="/img/thero.png" alt="" />
        <div class="flex-1 ml-4 flex  flex-col">
          <span class="font-bold text-lg">DIOR</span>
          <span class="text-xs">MEDIUM</span>  
        </div>

        <span class="flex-1">1pcs</span>

        <span class="font-bold text-lg">Rs.1999</span>
      </div>
    </div>
  
 
    <hr>
    <div  class="text-right py-5  px-5  " >
        <div >
            <span class="font-bold text-lg tracking-wider amount"> Total Amount</span>
            <span class="text-2xl font-bold"    >: ₹3400</span>
        </div>
        <form action="" class="my-5">
            <input class="border border-grey-400 w-1/2 py-4 px-4 mt-3" type="text" placeholder="Address" required>
            <input class="  border border-grey-400 w-1/2  py-4 px-4 mt-3" type="text" placeholder="Phone" required>
            <!-- <div> <button class="  order-btn py-2 px-5  mt-4">Order</button></div> -->
           
        </form>
        <a href="" class="btn-primary inline-block cursor-pointer px-6 py-2 mt-5 ">Login to continue</a>
      </div>
  
  </div>


</section>

<!-- <section class="section py-10">
  <div class="contianer mx-auto text-center ">
    <h1 class="text-3xl font-bold mb-2">Cart Empty</h1>
    <p class="text-grey-500 text-lg  px-20 py-5 tracking-wide ">
    Dear Customer your cart is empty Yet !!  <br> Choose a product you like & Add it to cart.
    </p>
    <img  class="w-4/5 mx-auto my-5" src="/img/cart-png.png" alt="" />
    <a href="/" class="inline-block py-2 px-6 mt-12 font-bold order-btn"
      ><button>Go Back</button></a
    >
  </div>
</section> -->
